.type1 {
    width: max-content;
    display: flex;

    >button {
        padding: 17.5px 30px;
        font-family: var(--font-special);
        background-color: transparent;
        background-image: repeating-linear-gradient(-71deg, var(--safetyOrange), var(--safetyOrange) 8px, transparent 8px, transparent 9px);
        border: none;
        font-weight: bolder;
        color: var(--color1);
        letter-spacing: 2px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        background-repeat: no-repeat;
    }

    >button:hover {
        background-position: 0 100px;
        scale: 1.1;
        color: var(--safetyOrange);
    }

    >button:hover~.buttonAfter {
        opacity: 1;
    }

    .buttonBefore {
        border: 1px solid var(--safetyOrange);
        border-right-width: 0px;
    }

    .buttonAfter {
        border: 1px solid var(--safetyOrange);
        border-left-width: 0px;
    }

    .buttonAfter,
    .buttonBefore {
        opacity: 0;
        transition: all 0.3s ease-out;
        width: 1px;
    }
}

.type1:has(button:hover) .buttonBefore {
    opacity: 1;
}