footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    color: var(--color6);
    font-family: var(--font-mono);
    margin-top: 40px;
    backdrop-filter: blur(2px);

    >div {
        max-width: 30%;
    }

    >div:nth-child(1) {
        p:nth-child(1) {
            font-weight: 300;
            font-size: 1.7rem;

            span {
                color: var(--safetyOrange);
            }
        }

        p:nth-child(2) {
            font-weight: 100;
            font-size: 0.9rem;
        }
    }

    >div:nth-child(2),
    >div:nth-child(3) {
        font-weight: 100;

        p {
            color: var(--matrixGreen);
            font-size: 0.9rem;
            white-space: nowrap;
        }

        ul {
            padding: 10px 20px;
            list-style-type: none;
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 1000px) {
    footer {
        >div:nth-child(1) {
            p:nth-child(1) {
                font-weight: 300;
                font-size: 1.4rem;

                span {
                    color: var(--safetyOrange);
                }
            }

            p:nth-child(2) {
                font-weight: 100;
                font-size: 0.7rem;
            }
        }

        >div:nth-child(2),
        >div:nth-child(3) {
            font-weight: 100;

            p {
                color: var(--matrixGreen);
                font-size: 0.7rem;
            }

            ul {
                padding: 10px 20px;
                list-style-type: none;
                font-size: 0.65rem;
            }
        }
    }
}

@media (max-width: 500px) {
    footer {
        padding: 40px 20px;

        >div {
            max-width: 33%;
        }

        >div:nth-child(1) {
            p:nth-child(1) {
                font-weight: 300;
                font-size: 1rem;

                span {
                    color: var(--safetyOrange);
                }
            }

            p:nth-child(2) {
                font-weight: 100;
                font-size: 0.56rem;
            }
        }

        >div:nth-child(2),
        >div:nth-child(3) {
            font-weight: 100;

            p {
                color: var(--matrixGreen);
                font-size: 0.7rem;
            }

            ul {
                padding: 10px 20px;
                list-style-type: none;
                font-size: 0.65rem;
            }
        }
    }
}